#text_v_u_title
{
    text-align: center;
    background-color: #898989;
    padding: 10px;
}

th,tr,td
{
    border: 2px solid black;
    
}

tr:hover
{
    background-color: #898989;
}

table
{
    width: 95%;
}

body
{
    background-color: #A0A0A0;
}

#btn_v_p_post
{
    width: 100px;
    height: 50px;
    font-size: 30px;
}

#btn_v_pv_delete
{
    background-color: #898989;
}


.CenterHorizontal
{
    margin: 0;
    position: absolute;
    top: 90%;
    left: 47%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#input_v_p_title, #input_v_p_category
{
    width: 95%;
}

#btn_v_u_post, #btn_v_u_home
{
    background-color: #898989;
}